In [35]:
import pandas as pd
import os
os.chdir('/home/marcosdev/Documents/uni/pruebas-python/cursos/pandas')
coffe = pd.read_csv('./warmup-data/coffe.csv')

In [36]:
coffe.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [37]:
results = pd.read_parquet('./warmup-data/results.parquet')

In [38]:
results.head(
)

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None

In [39]:
display(coffe)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [40]:
coffe.loc[0:3]

       Day Coffee Type  Units Sold
0   Monday    Espresso          25
1   Monday       Latte          15
2  Tuesday    Espresso          30
3  Tuesday       Latte          20

In [41]:
coffe.loc[[0,1,4],["Day","Coffee Type"]]

         Day Coffee Type
0     Monday    Espresso
1     Monday       Latte
4  Wednesday    Espresso

In [42]:
coffe.iloc[4:7,[0,2]]

         Day  Units Sold
4  Wednesday          35
5  Wednesday          25
6   Thursday          40

In [53]:
coffe.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          10
1     Monday       Latte          20
2    Tuesday    Espresso          10
3    Tuesday       Latte          10
4  Wednesday    Espresso          35

In [60]:
coffe.loc[0:2,"Units Sold"] = 20

In [69]:
coffe.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          20
1     Monday       Latte          20
2    Tuesday    Espresso          20
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [81]:
coffe.iat[0,0]

'Monday'